<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.0.0/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <style>
        th{
            text-align: center;
            height: 60px;
            font-size: 20px;
        }
        td{
            vertical-align: center;
            height: 50px;
            width: 60px;
        }
        table {
            width: 500px;
            border-collapse: collapse;
            margin-left: 35%;
            text-align: center;
        }

        #selName{
            margin-left: 40px;
        }

        #password{
            color:red;
            margin-left: 10px;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            /**
             * 添加用户
             */
            $("#user_add_modal").click(function () {
                $("#userAddModal form")[0].reset();
                $("#userAddModal").modal({
                    backdrop: "static"
                });
            })

            $("#add_user_btn").click(function () {
                var $username = $("#add_username").val()
                var $password = $("#add_password").val()
                if($password == ""){
                    $password ="123456"
                }
                if($username != ""){
                    $.ajax({
                        type:"POST",
                        url:"/admin/addUser",
                        data:{"username":$username,
                        "password":$password},
                        success:function () {
                            $("#userAddModal").modal('hide');
                            var $totalPages = $("#totalPages").html();
                            var $totalRecord = $("#totalRecord").html();
                            if($totalRecord % 5 == 0){
                                $totalPages = parseInt($totalPages) + 1
                            }

                            location.href = "/admin/getUserList?pn="+ $totalPages
                        }
                    })
                }else{
                    alert("请输入用户名！")
                }

            })


            /**
             *  删除试题--批量
             */
            //1.全选全不选
            $("#check_all").click(function () {
                $(".check_item").prop("checked",$(this).prop("checked"))
            })

            //2.反选
            $(".check_item").click(function () {
                //判断当前选择的元素是不是5个
                var flag = $(".check_item:checked").length==$(".check_item").length;
                $("#check_all").prop("checked",flag);
            })

            //给批量删除按钮绑定单击事件
            $("#user_deleteall_btn").click(function () {
                var usernames = ""
                $.each($(".check_item:checked"),function () {
                    usernames += $(this).parents("tr").children(":eq(1)").html()+","

                })
                usernames = usernames.substring(0,usernames.length-1)
                if(confirm("确认删除用户 "+usernames+"?")){
                    $.ajax({
                        type:"DELETE",
                        url:"/admin/delAllUser",
                        data:{"usernames":usernames},
                        success:function (result) {
                            var $pageNum = $("#pageNum").html()
                            location.href = "/admin/getUserList?pn=" + $pageNum
                        }
                    })
                }
            })

            $(".del_btn").click(function () {
               var username = $(this).parents("tr").children(":eq(1)").html()
                var $pageNum = $("#pageNum").html()
                $.ajax({
                    type:"DELETE",
                    data:{"username":username},
                    url:"/admin/delUser",
                    success:function () {
                        location.href = "/admin/getUserList?pn="+$pageNum
                    }
                })
            })


            $(".upd_btn").click(function () {
               var username = $(this).parents("tr").children(":eq(1)").html()
                $.ajax({
                    type:"GET",
                    data:{"username":username},
                    url:"/admin/getUser",
                    success:function (data) {
                        $("#userUpdModal").modal({
                            backdrop: "static"
                        });
                        $("#upd_username").html(data.username)
                        $("#upd_password").val(data.password)
                    }
                })
            })

            $("#upd_user_btn").click(function () {
                var $pageNum = $("#pageNum").html()
               var $username = $("#upd_username").html()
                var $password = $("#upd_password").val()
                if($password == ""){
                    $password = "123456"
                }

                    $.ajax({
                        type:"PUT",
                        url:"/admin/updUser",
                        data:{"username":$username,
                        "password":$password},
                        success:function () {
                            $("#userUpdModal").modal("hide")
                            location.href = "/admin/getUserList?pn="+$pageNum
                        }
                    })

            })
            $("#selByName").click(function () {
                var  $selName = $("#selName").val()
                $.ajax({
                    type:"GET",
                    url:"/admin/getUser",
                    data:{username:$selName},
                    success:function (data) {
                        console.log(data)
                        if(data == ""){
                            $("#password").html("暂无该用户信息")
                        }else{
                            $("#password").html("密码："+data.password)
                        }

                    }
                })
            })
        })
    </script>
</head>
<body>
        <h1 align="center" style="color: firebrick">用户管理界面</h1>
        <div style="margin-left: 40%;margin-top: 50px;margin-bottom: 10px;">
            <button class="btn btn-primary" id="user_add_modal">新增</button>
            <button class="btn btn-danger" id="user_deleteall_btn">批量删除</button>
                <input type="text" id="selName" placeholder="输入查询学生用户名">
                <button class="btn btn-primary" id="selByName">查询</button>
                <span id="password"></span>
        </div>
        <table align="center" border="1px solid black">
            <tr>
                <th><input type="checkbox" id="check_all"></th>
                <th>用户名</th>
                <th>密码</th>
                <th>操作</th>
            </tr>
            <tr th:each="user:${pageInfo.list}">
                <td><input type="checkbox" class="check_item"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td>
                    <button class="btn btn-primary upd_btn">修改</button>
                    <button class="btn btn-danger del_btn">删除</button>
                </td>
            </tr>
        </table>

        <!-- 显示分页信息 -->
        <div class="row" style="font-size: 20px;">
            <!-- 显示分页文字信息 -->
            <div style="position: absolute;top:520px;left: 130px">
                当前第<span th:text="${pageInfo.pageNum}" id="pageNum"></span>页,总<span th:text="${pageInfo.pages}" id="totalPages"></span>页,总<span
                    th:text="${pageInfo.total}" id="totalRecord" ></span>条记录 <span th:text="${pageInfo.size}" id="size" style="display: none"></span>
            </div>
            <!-- 分页条信息 -->
            <div style="position: absolute;top:520px;right: 130px">
                <nav aria-label="Page navigation">
                    <a href="/admin/getUserList?pn=1" style="margin-right: 10px">首页</a>
                    <a style="margin-right: 10px" th:if="${ pageInfo.hasPreviousPage}"
                       th:href="@{/admin/getUserList(pn=${pageInfo.pageNum-1 })}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    <span th:each="page_Num :${pageInfo.navigatepageNums }">
                <a href="#" th:text="${page_Num }" th:if="${page_Num==pageInfo.pageNum }"
                   style="margin-right: 10px;color:crimson;font-weight: bold;font-style: italic"></a>
                <a th:if="${page_Num!=pageInfo.pageNum }" th:href="@{/admin/getUserList(pn=${page_Num })}"
                   th:text="${page_Num }" style="margin-right: 10px"></a>
        </span>
                    <a th:if="${ pageInfo.hasNextPage}"
                       th:href="@{/admin/getUserList(pn=${pageInfo.pageNum+1 })}" aria-label="Next"
                       style="margin-right: 10px">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    <a th:href="@{/admin/getUserList(pn=${pageInfo.pages})}">尾页</a>
                </nav>
            </div>
        </div>
                    <!--用户添加模态框-->
        <div class="modal fade" id="userAddModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">添加用户</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">用户名</label>
                                <div class="col-sm-10">
                                    <input type="text" name="detail" class="form-control" id="add_username">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">密码</label>
                                <div class="col-sm-10">
                                    <input type="text" name="optionA" class="form-control" id="add_password">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="add_user_btn">保存</button>
                    </div>
                </div>
            </div>
        </div>

        <!--用户修改模态框-->
        <div class="modal fade" id="userUpdModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">修改用户信息</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">用户名</label>
                                <div class="col-sm-10">
                                    <span type="text" name="detail" class="form-control" id="upd_username"></span>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">密码</label>
                                <div class="col-sm-10">
                                    <input type="text" name="optionA" class="form-control" id="upd_password">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="upd_user_btn">保存</button>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>